<div class="car contenedor">
  <div class="car__image">
    <img src="/assets/img/car-wash-servicios.png" alt="Image">
  </div>
  <div class="car__content">
    <h3 class="car__heading">Brillo que Deslumbra</h3>
    <p class="car__paragraph">En nuestro lavadero de autos, la limpieza va más allá de lo convencional. No solo cuidamos la carrocería, sino que mimamos cada detalle. Con productos de alta calidad y un toque de maestría, dejamos tu vehículo impecable. Descubre un nuevo nivel de brillo y cuidado automotriz.</p>
  </div>
</div>

<section class="car-wash">
  <div class="car-wash__grid contenedor">

    <div class="car-wash__card">
      <div class="car-wash__image">
        <img src="/assets/img/lavado.png" alt="Lavado">
      </div>
      <h4 class="car-wash__heading">Lavado Detallado</h4>
      <p class="car-wash__paragraph">
        Estilo moderno con cortes vanguardistas y tendencias actuales.
      </p>
    </div>

    <div class="car-wash__card">
      <div class="car-wash__image">
        <img src="/assets/img/pintura.png" alt="Lavado">
      </div>
      <h4 class="car-wash__heading">Tratamientos de Pintura</h4>
      <p class="car-wash__paragraph">
        Sumérgete en un oasis de relajación y lujo mientras transformamos tu estilo.
      </p>
    </div>

    <div class="car-wash__card">
      <div class="car-wash__image">
        <img src="/assets/img/renovado.png" alt="Lavado">
      </div>
      <h4 class="car-wash__heading">Interior Renovado</h4>
      <p class="car-wash__paragraph">
        Experimenta la pericia de un afeitado clásico, añadiendo elegancia a tu barba.
      </p>
    </div>

    <div class="car-wash__card">
      <div class="car-wash__image">
        <img src="/assets/img/exclusivo.png" alt="Lavado">
      </div>
      <h4 class="car-wash__heading">Productos Exclusivos</h4>
      <p class="car-wash__paragraph">
        Utilizamos productos exclusivos de alta calidad para realzar la salud y belleza de tu cabello.
      </p>
    </div>

  </div>


</section>

