<div class="lista-precios">
  <div class="lista-precios__content contenedor">
    <table class="lista-precios__table">
      <thead>
      <tr>
        <th class="lista-precios__thead">Servicios</th>
        <th class="lista-precios__thead">Taxi</th>
        <th class="lista-precios__thead">Automovil</th>
        <th class="lista-precios__thead">Camioneta</th>
        <th class="lista-precios__thead">Camioneta gra.</th>
        <th class="lista-precios__thead">Buseta</th>
        <th class="lista-precios__thead">Furgón peq.</th>
        <th class="lista-precios__thead">Furgón gra.</th>
        <th class="lista-precios__thead">Motos</th>
      </tr>
      </thead>
      <tbody>
      <tr class="lista-precios__tdprimary">
        <td class="lista-precios__td">Lavado</td>
        <td class="lista-precios__tdprices">$ 15 K</td>
        <td class="lista-precios__tdprices">$ 15 K</td>
        <td class="lista-precios__tdprices">$ 20 K</td>
        <td class="lista-precios__tdprices">$ 25 K</td>
        <td class="lista-precios__tdprices">$ 40 K</td>
        <td class="lista-precios__tdprices">$ 40 K</td>
        <td class="lista-precios__tdprices">$ 40 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
      </tr>
      <tr class="lista-precios__tdsecondary">
        <td class="lista-precios__td">Lavado + abajo</td>
        <td class="lista-precios__tdprices">$ 20 K</td>
        <td class="lista-precios__tdprices">$ 25 K</td>
        <td class="lista-precios__tdprices">$ 35 K</td>
        <td class="lista-precios__tdprices">$ 35 K</td>
        <td class="lista-precios__tdprices">$ 45 K</td>
        <td class="lista-precios__tdprices">$ 45 K</td>
        <td class="lista-precios__tdprices">$ 45 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      <tr class="lista-precios__tdprimary">
        <td class="lista-precios__td">Lavado + motor</td>
        <td class="lista-precios__tdprices">$ 20 K</td>
        <td class="lista-precios__tdprices">$ 25 K</td>
        <td class="lista-precios__tdprices">$ 35 K</td>
        <td class="lista-precios__tdprices">$ 25 K</td>
        <td class="lista-precios__tdprices">$ 70 K</td>
        <td class="lista-precios__tdprices">$ 70 K</td>
        <td class="lista-precios__tdprices">$ 70 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      <tr class="lista-precios__tdtertiary">
        <td class="lista-precios__td">Lavado general</td>
        <td class="lista-precios__tdprices">$ 30 K</td>
        <td class="lista-precios__tdprices">$ 30 K</td>
        <td class="lista-precios__tdprices">$ 30 K</td>
        <td class="lista-precios__tdprices">$ 50 K</td>
        <td class="lista-precios__tdprices">$ 80 K</td>
        <td class="lista-precios__tdprices">$ 60 K</td>
        <td class="lista-precios__tdprices">$ 80 K</td>
        <td class="lista-precios__tdprices">$ 12 K</td>
      </tr>
      <tr class="lista-precios__tdprimary">
        <td class="lista-precios__td">Cera a mano</td>
        <td class="lista-precios__tdprices">$ 20 K</td>
        <td class="lista-precios__tdprices">$ 20 K</td>
        <td class="lista-precios__tdprices">$ 20 K</td>
        <td class="lista-precios__tdprices">$ 20 K</td>
        <td class="lista-precios__tdprices">$ 20 K</td>
        <td class="lista-precios__tdprices">$ 30 K</td>
        <td class="lista-precios__tdprices">$ 30 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      <tr class="lista-precios__tdsecondary">
        <td class="lista-precios__td">Cera a maquina</td>
        <td class="lista-precios__tdprices">$ 30 K</td>
        <td class="lista-precios__tdprices">$ 30 K</td>
        <td class="lista-precios__tdprices">$ 30 K</td>
        <td class="lista-precios__tdprices">$ 30 K</td>
        <td class="lista-precios__tdprices">$ 50 K</td>
        <td class="lista-precios__tdprices">$ 50 K</td>
        <td class="lista-precios__tdprices">$ 50 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      <tr class="lista-precios__tdtertiary">
        <td class="lista-precios__td">Motor a vapor</td>
        <td class="lista-precios__tdprices">$ 35 K</td>
        <td class="lista-precios__tdprices">$ 35 K</td>
        <td class="lista-precios__tdprices">$ 45 K</td>
        <td class="lista-precios__tdprices">$ 45 K</td>
        <td class="lista-precios__tdprices">$ 45 K</td>
        <td class="lista-precios__tdprices">$ 45 K</td>
        <td class="lista-precios__tdprices">$ 45 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      <tr class="lista-precios__tdsecondary">
        <td class="lista-precios__td">Desinfección A/A a vapor</td>
        <td class="lista-precios__tdprices">$ 25 K</td>
        <td class="lista-precios__tdprices">$ 25 K</td>
        <td class="lista-precios__tdprices">$ 30 K</td>
        <td class="lista-precios__tdprices">$ 30 K</td>
        <td class="lista-precios__tdprices">$ 30 K</td>
        <td class="lista-precios__tdprices">$ 30 K</td>
        <td class="lista-precios__tdprices">$ 30 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      <tr class="lista-precios__tdprimary">
        <td class="lista-precios__td">Limpieza de farolas</td>
        <td class="lista-precios__tdprices">$ 40 K</td>
        <td class="lista-precios__tdprices">$ 40 K</td>
        <td class="lista-precios__tdprices">$ 40 K</td>
        <td class="lista-precios__tdprices">$ 40 K</td>
        <td class="lista-precios__tdprices">$ 40 K</td>
        <td class="lista-precios__tdprices">$ 40 K</td>
        <td class="lista-precios__tdprices">$ 40 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      <tr class="lista-precios__tdsecondary">
        <td class="lista-precios__td">Hidratación cuero</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 15 K</td>
        <td class="lista-precios__tdprices">$ 15 K</td>
        <td class="lista-precios__tdprices">$ 15 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      <tr class="lista-precios__tdprimary">
        <td class="lista-precios__td">Hidratación partes negras</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
      </tr>
      <tr class="lista-precios__tdsecondary">
        <td class="lista-precios__td">Exceso de barro</td>
        <td class="lista-precios__tdprices">$ 5 K</td>
        <td class="lista-precios__tdprices">$ 5 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      <tr class="lista-precios__tdprimary">
        <td class="lista-precios__td">Aspirada</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      <tr class="lista-precios__tdtertiary">
        <td class="lista-precios__td">Polichada moto</td>
        <td class="lista-precios__tdprices">-</td>
        <td class="lista-precios__tdprices">-</td>
        <td class="lista-precios__tdprices">-</td>
        <td class="lista-precios__tdprices">-</td>
        <td class="lista-precios__tdprices">-</td>
        <td class="lista-precios__tdprices">-</td>
        <td class="lista-precios__tdprices">-</td>
        <td class="lista-precios__tdprices">$ 30 K</td>
      </tr>
      <tr class="lista-precios__tdtertiary">
        <td class="lista-precios__td">Over haul</td>
        <td class="lista-precios__tdprices">$ 200 K</td>
        <td class="lista-precios__tdprices">$ 250 K</td>
        <td class="lista-precios__tdprices">$ 300 K</td>
        <td class="lista-precios__tdprices">$ 300 K</td>
        <td class="lista-precios__tdprices">$ 300 K</td>
        <td class="lista-precios__tdprices">$ 300 K</td>
        <td class="lista-precios__tdprices">$ 300 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      <tr class="lista-precios__tdtertiary">
        <td class="lista-precios__td">Polichada</td>
        <td class="lista-precios__tdprices">$ 150 K</td>
        <td class="lista-precios__tdprices">$ 150 K</td>
        <td class="lista-precios__tdprices">$ 200 K</td>
        <td class="lista-precios__tdprices">$ 300 K</td>
        <td class="lista-precios__tdprices">$ 350 K</td>
        <td class="lista-precios__tdprices">$ 400 K</td>
        <td class="lista-precios__tdprices">$ 350 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      <tr class="lista-precios__tdsecondary">
        <td class="lista-precios__td">Limpieza cojineria</td>
        <td class="lista-precios__tdprices">$ 100 K</td>
        <td class="lista-precios__tdprices">$ 100 K</td>
        <td class="lista-precios__tdprices">$ 120 K</td>
        <td class="lista-precios__tdprices">$ 120 K</td>
        <td class="lista-precios__tdprices">$ 150 K</td>
        <td class="lista-precios__tdprices">$ 150 K</td>
        <td class="lista-precios__tdprices">$ 150 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      <tr class="lista-precios__tdprimary">
        <td class="lista-precios__td">Alfombras</td>
        <td class="lista-precios__tdprices">$ 60 K</td>
        <td class="lista-precios__tdprices">$ 80 K</td>
        <td class="lista-precios__tdprices">$ 100 K</td>
        <td class="lista-precios__tdprices">$ 100 K</td>
        <td class="lista-precios__tdprices">$ 120 K</td>
        <td class="lista-precios__tdprices">$ 120 K</td>
        <td class="lista-precios__tdprices">$ 120 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      <tr class="lista-precios__label">
        <td class="lista-precios__td">Combo 1 <span class="lista-precios__span">(Gral + cera a mano + grafito)</span></td>
        <td class="lista-precios__tdprices">$ 70 K</td>
        <td class="lista-precios__tdprices">$ 80 K</td>
        <td class="lista-precios__tdprices">$ 120 K</td>
        <td class="lista-precios__tdprices">$ 120 K</td>
        <td class="lista-precios__tdprices">$ 150 K</td>
        <td class="lista-precios__tdprices">$ 150 K</td>
        <td class="lista-precios__tdprices">$ 150 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      <tr class="lista-precios__label">
        <td class="lista-precios__td">Combo 2 <span class="lista-precios__span">(Lavado Gral + motor a vapor + cera a maquina)</span></td>
        <td class="lista-precios__tdprices">$ 100 K</td>
        <td class="lista-precios__tdprices">$ 120 K</td>
        <td class="lista-precios__tdprices">$ 150 K</td>
        <td class="lista-precios__tdprices">$ 180 K</td>
        <td class="lista-precios__tdprices">$ 200 K</td>
        <td class="lista-precios__tdprices">$ 200 K</td>
        <td class="lista-precios__tdprices">$ 200 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      <tr class="lista-precios__label">
        <td class="lista-precios__td">Combo 3 <span class="lista-precios__span">(Polichada+ Overhaul+motor a vapor)</span></td>
        <td class="lista-precios__tdprices">$ 350 K</td>
        <td class="lista-precios__tdprices">$ 400 K</td>
        <td class="lista-precios__tdprices">$ 550 K</td>
        <td class="lista-precios__tdprices">$ 550 K</td>
        <td class="lista-precios__tdprices">$ 600 K</td>
        <td class="lista-precios__tdprices">$ 600 K</td>
        <td class="lista-precios__tdprices">$ 600 K</td>
        <td class="lista-precios__tdprices">-</td>
      </tr>
      </tbody>
      <tfoot>
      <tr class="lista-precios__thead">
        <th colspan="9" class="lista-precios__td">Lavado de cascos $ 25K</th>
      </tr>
      </tfoot>
    </table>
  </div>

</div>

