<div class="lista-precios">
  <div class="lista-precios__content contenedor">
    <table class="lista-precios__table">
      <thead>
      <tr>
        <th class="lista-precios__thead">Servicios</th>
        <th class="lista-precios__thead">Precios</th>
      </tr>
      </thead>
      <tbody>
      <tr class="lista-precios__tdprimary">
        <td class="lista-precios__td">corte normal <span>( afeitada, masaje, cera, lavado, té, agua, o café)</span></td>
        <td class="lista-precios__tdprices">$ 25 K</td>
      </tr>
      <tr class="lista-precios__tdprimary">
        <td class="lista-precios__td">corte base <span>(Afeitado,peinado básico, masaje, cera, lavado, té, agua, o café)</span></td>
        <td class="lista-precios__tdprices">$ 30 K</td>
      </tr>
      <tr class="lista-precios__tdtertiary">
        <td class="lista-precios__td">corte premium <span>(Afeitada,Cepillada completa, laca, corte, cera, masaje,peinado elaborado, michelada)</span></td>
        <td class="lista-precios__tdprices">$ 35 K</td>
      </tr>
      <tr class="lista-precios__tdprimary">
        <td class="lista-precios__td">corte + barba</td>
        <td class="lista-precios__tdprices">$ 40 K</td>
      </tr>
      <tr class="lista-precios__tdsecondary">
        <td class="lista-precios__td">barba</td>
        <td class="lista-precios__tdprices">$ 15 K</td>
      </tr>
      <tr class="lista-precios__tdtertiary">
        <td class="lista-precios__td">mascarilla hidratante</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
      </tr>
      <tr class="lista-precios__tdsecondary">
        <td class="lista-precios__td">mascarilla puntos negros</td>
        <td class="lista-precios__tdprices">$ 10 K</td>
      </tr>
      <tr class="lista-precios__tdprimary">
        <td class="lista-precios__td">keratina </td>
        <td class="lista-precios__tdprices">$ 80 K - 120 K</td>
      </tr>
      <tr class="lista-precios__tdsecondary">
        <td class="lista-precios__td">uñas manos y pies</td>
        <td class="lista-precios__tdprices">$ 24 K</td>
      </tr>
      <tr class="lista-precios__tdprimary">
        <td class="lista-precios__td">uñas manos</td>
        <td class="lista-precios__tdprices">$ 15 K</td>
      </tr>
      <tr class="lista-precios__tdsecondary">
        <td class="lista-precios__td">COMBO MONARCA <span>(corte, uñas, mascarilla hidratante y puntos negros, masaje, cera premium)</span></td>
        <td class="lista-precios__tdprices">$ 60 K</td>
      </tr>
    </table>
  </div>
</div>


