<div class="barber contenedor">
  <div class="barber__image">
    <img src="/assets/img/barber-servicios.png" alt="Image">
  </div>
  <div class="barber__content">
    <h3 class="barber__heading">Estilo Personalizado</h3>
    <p class="barber__paragraph">En nuestra barbería, la atención personalizada es clave. Nuestros barberos expertos no solo ofrecen cortes de tendencia, sino que crean experiencias únicas. Desde cortes clásicos hasta los estilos más modernos, estamos aquí para realzar tu estilo y resaltar tu individualidad.</p>
  </div>
</div>

<section class="barber-shop">
  <div class="barber-shop__grid contenedor swiper-container ">

    <div class="swiper-wrapper hidden">
      <div class="barber-shop__card swiper-slide">
        <div class="barber-shop__image">
          <img src="/assets/img/bigote.png" alt="Bigote">
        </div>
        <h4 class="barber-shop__heading">Cortes de Vanguardia</h4>
        <p class="barber-shop__paragraph">
          Estilo moderno con cortes vanguardistas y tendencias actuales.
        </p>
      </div>

      <div class="barber-shop__card swiper-slide">
        <div class="barber-shop__image">
          <img src="/assets/img/silla.png" alt="Bigote">
        </div>
        <h4 class="barber-shop__heading">Ambiente Relajante</h4>
        <p class="barber-shop__paragraph">
          Sumérgete en un oasis de relajación y lujo mientras transformamos tu estilo.
        </p>
      </div>

      <div class="barber-shop__card swiper-slide">
        <div class="barber-shop__image">
          <img src="/assets/img/afeitadora.png" alt="Bigote">
        </div>
        <h4 class="barber-shop__heading">Afeitado Clásico</h4>
        <p class="barber-shop__paragraph">
          Experimenta la pericia de un afeitado clásico, añadiendo elegancia a tu barba.
        </p>
      </div>

      <div class="barber-shop__card swiper-slide">
        <div class="barber-shop__image">
          <img src="/assets/img/bomba.png" alt="Bigote">
        </div>
        <h4 class="barber-shop__heading">Productos Exclusivos</h4>
        <p class="barber-shop__paragraph">
          Utilizamos productos exclusivos de alta calidad para realzar la salud y belleza de tu cabello.
        </p>
      </div>

    </div>
    <div class="swiper-pagination"></div>

  </div>

</section>

<section class="barber-shop">
  <div class="barber-shop__grid contenedor">

      <div class="barber-shop__card">
        <div class="barber-shop__image">
          <img src="/assets/img/bigote.png" alt="Bigote">
        </div>
        <h4 class="barber-shop__heading">Cortes de Vanguardia</h4>
        <p class="barber-shop__paragraph">
          Estilo moderno con cortes vanguardistas y tendencias actuales.
        </p>
      </div>

      <div class="barber-shop__card">
        <div class="barber-shop__image">
          <img src="/assets/img/silla.png" alt="Bigote">
        </div>
        <h4 class="barber-shop__heading">Ambiente Relajante</h4>
        <p class="barber-shop__paragraph">
          Sumérgete en un oasis de relajación y lujo mientras transformamos tu estilo.
        </p>
      </div>

      <div class="barber-shop__card">
        <div class="barber-shop__image">
          <img src="/assets/img/afeitadora.png" alt="Bigote">
        </div>
        <h4 class="barber-shop__heading">Afeitado Clásico</h4>
        <p class="barber-shop__paragraph">
          Experimenta la pericia de un afeitado clásico, añadiendo elegancia a tu barba.
        </p>
      </div>

      <div class="barber-shop__card">
        <div class="barber-shop__image">
          <img src="/assets/img/bomba.png" alt="Bigote">
        </div>
        <h4 class="barber-shop__heading">Productos Exclusivos</h4>
        <p class="barber-shop__paragraph">
          Utilizamos productos exclusivos de alta calidad para realzar la salud y belleza de tu cabello.
        </p>
      </div>

  </div>

</section>
