<ng-container *ngIf="display$ | async as display">
    <section [class.open]="display === 'open'" (click)="close()" class="modal-section">
      <div (click)="$event.stopPropagation()" class="modal-section__content">
        <button class="close" type="button" (click)="close()">X</button>
        <div class="lista">
          <h2 class="lista__heading">Lista de precios</h2>
          <div class="lista__precios">
            <section class="">
              <h3 class="lista__subtitle">Taxi</h3>
              <ul>
                <li class="lista__content">
                  <p class="lista__nombre">Lavado</p>
                  <p class="lista__precio">$15,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Lavado + Abajo</p>
                  <p class="lista__precio">$20,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Lavado + Motor</p>
                  <p class="lista__precio">$20,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Lavado + Motor</p>
                  <p class="lista__precio">$20,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Lavado general</p>
                  <p class="lista__precio">$30,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Cera a mano</p>
                  <p class="lista__precio">$30,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Cera a maquina</p>
                  <p class="lista__precio">$20,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Motor a vapor</p>
                  <p class="lista__precio">$35,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Desinfección A/A a vapor</p>
                  <p class="lista__precio">$25,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Limpieza de farolas</p>
                  <p class="lista__precio">$40,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Hidratación cuero</p>
                  <p class="lista__precio">$10,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Hidratación partes negras</p>
                  <p class="lista__precio">$10,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Exceso de barro</p>
                  <p class="lista__precio">$5,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Aspirada</p>
                  <p class="lista__precio">$10,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Polichada moto</p>
                  <p class="lista__nombre">-</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Overhaul</p>
                  <p class="lista__precio">$200,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Polichada</p>
                  <p class="lista__precio">$150,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Limpieza cojinería</p>
                  <p class="lista__precio">$100,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Alfombras</p>
                  <p class="lista__precio">$60,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Gral + cera a mano + grafito</p>
                  <p class="lista__precio">$70,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Combo 2 (Lavado Gral + motor a vapor + cera a maquina)</p>
                  <p class="lista__precio">$100,000</p>
                </li>
                <li class="lista__content">
                  <p class="lista__nombre">Combo 3 (Polichada+ Overhaul+motor a vapor)</p>
                  <p class="lista__precio">$350,000</p>
                </li>
              </ul>
            </section>



          </div>




        </div>
      </div>
    </section>
</ng-container>
