<ng-container *ngIf="display$ | async as display">
    <section [class.open]="display === 'open'" (click)="close()" class="modal-section">
      <div (click)="$event.stopPropagation()" class="modal-section__content">
        <button class="close" type="button" (click)="close()">X</button>
        <div class="lista">
          <h2 class="lista__heading">Lista de precios</h2>
          <div class="lista__precios">
            <section class="">
              <h3>Taxi</h3>

              <ul>
                <li>
                  <p>Lavado</p>
                  <p>$15,000</p>
                </li>
                <li>
                  <p>Lavado + Abajo</p>
                  <p>$20,000</p>
                </li>
                <li>
                  <p>Lavado + Motor</p>
                  <p>$20,000</p>
                </li>
                <li>
                  <p>Lavado + Motor</p>
                  <p>$20,000</p>
                </li>
                <li>
                  <p>Lavado general</p>
                  <p>$30,000</p>
                </li>
                <li>
                  <p>Cera a mano</p>
                  <p>$30,000</p>
                </li>
                <li>
                  <p>Cera a mano</p>
                  <p>$30,000</p>
                </li>
              </ul>
            </section>

            <section class="">
              <h3>Automovil</h3>

              <ul>
                <li>
                  <p>Lavado</p>
                  <p>$15,000</p>
                </li>
                <li>
                  <p>Lavado + Abajo</p>
                  <p>$20,000</p>
                </li>
                <li>
                  <p>Lavado + Motor</p>
                  <p>$20,000</p>
                </li>
                <li>
                  <p>Lavado + Motor</p>
                  <p>$20,000</p>
                </li>
                <li>
                  <p>Lavado general</p>
                  <p>$30,000</p>
                </li>
                <li>
                  <p>Cera a mano</p>
                  <p>$30,000</p>
                </li>
                <li>
                  <p>Cera a mano</p>
                  <p>$30,000</p>
                </li>
              </ul>
            </section>

          </div>




        </div>
      </div>
    </section>
</ng-container>
