
.header {
  min-height: 85rem;
  background-image: url(/assets/img/header-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: url("/assets/img/header.png");
    min-height: 60rem;
  }


  &__barra {
    display: flex;

    @media screen and (min-width: 768px) {
      background-color: black;
      justify-content: space-around;
      align-items: center;
      min-height: 7.6rem;
    }
  }

  &__logo {
    display: flex;
    padding-left: 3rem;

    img{
      display: inline-block;
      width: 10rem;
      height: 6rem;
      object-fit: contain;
    }

    @media screen and (min-width: 768px) {
      gap: 2rem;
      img {
        display: inline-block;
        width: 6rem;
        height: 6rem;
        object-fit: cover;
      }

    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;

    @media screen and (min-width: 768px){
      justify-content: center;
      padding-top: 0;
      height: 50rem;
    }
  }

  &__titles {
    img {
      width: 36rem;
      object-fit: cover;
      margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
      img {
        width: 52rem;
        object-fit: cover;
      }
    }
  }

}

.navegacion {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }


  &__link {
    color: #ffff;
    font-weight: 300;
    cursor: pointer;

    &.active {
      color: #FDD04E;
    }

  }
}

/*Quienes somos*/

.quienes-somos {
  min-height: 50rem;
  background-image: url("/assets/img/quienes-somos.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 4rem 0;

  @media screen and (min-width: 768px) {
    background-size: 100%, cover;
    padding-top: 8rem;

  }

  &__heading {
    color: #fff;
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem;

    @media screen and (min-width: 768px) {
      font-size: 3.6rem;
      letter-spacing: 1.2rem;
    }
  }

  &__paragraph {
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    line-height: 2.5rem;
    padding: 7rem 1.5rem;

    @media screen and (min-width: 768px) {
      font-size: 1.7rem;
      padding-top: 7rem;

    }
  }
}

.nuestros-servicios {
  min-height: 50rem;
  background-image: url("/assets/img/nuestros-servicios.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0 0 0;

  @media screen and (min-width: 768px) {
    min-height: 66rem;
    background-size: 100%, cover;
    padding-top: 8rem;

  }

  &__heading {
    color: #FDD04E;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    padding-bottom: 4rem;


    @media screen and (min-width: 768px) {
      font-size: 3.6rem;
      letter-spacing: 1.2rem;
      padding-bottom: 8rem;

    }
  }
}

/*TABS CONTAINER*/

.tabs-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
  margin-left: 1.2rem;


  &::before {
    content: '';
    border-bottom: 3px solid #ffffff;
    width: 33rem;
    position: absolute;
    height: .3rem;
    left: 0;
  }

  @media screen and (min-width: 768px) {
    margin-left: 12rem;

    &::before {
      content: '';
      width: 80rem;
      left: 63px;
    }


  }

}

.tab {
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  &.active {
    &:after {
      content: "";
      display: block;
      height: 3px;
      width: 16rem;
      background-color: #FDD04E; /* Color de la línea activa */
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:nth-child(2):after {
      left: .5rem;
      width: 17rem;
    }

  }
  &:hover {
    &:after {
      background-color: #FDD04E; /* Color de la línea al pasar el ratón */
    }
  }
  &:nth-child(2) {
    &:after {
      background-color: #FDD04E; /* Rojo - Color de la línea activa */
    }
  }

  @media screen and (min-width: 768px) {
      &.active {
        &:after {
          width: 40rem;
          left: -65px;
        }

        &:nth-child(2):after {
          left: -9.8rem;
          width: 41rem;
        }
      }
  }

}

.buttons {
  background-image: url("/assets/img/barber-shop-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6rem;

  @media screen and (min-width: 768px) {
    background-size: 100%, cover;
    padding-top: 6rem;
  }

  &__accion {
    padding: 1.5rem 2rem;
    width: 34rem;
    background-color: transparent;
    border: 3px solid #FDD04E;
    color: #ffffff;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    font-size: 1.8rem;
    transition: background-color .5s ease;
    cursor: pointer;

    @media screen and (min-width: 768px){
      width: 43rem;
      font-size: 2rem;
    }

    &:hover {
      background-color: #FDD04E;
      color: #282828;
    }
  }
}

/*Galeria*/

.galeria {
  background-image: url("/assets/img/barber-shop-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6rem;

  @media screen and (min-width: 768px){
    background-size: 100%, cover;

  }

  &__heading {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    padding-bottom: 6rem;

    @media screen and (min-width: 768px){
      font-size: 3.6rem;
      letter-spacing: 1.2rem;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
    }
  }

  &__accion {
    padding: 1.5rem 2rem;
    width: 29.6rem;
    background-color: transparent;
    border: 3px solid #898989;
    color: #898989;
    text-transform: uppercase;
    font-weight: 300;
    border-radius: 5px;
    display: block;
    font-size: 2rem;
    cursor: pointer;

    @media screen and (min-width: 768px){
      font-size: 2.5rem;
    }

    &:hover {
      background-color: #FFFFFF;
      color: #6F6F6F;
    }

    &.active {
      background-color: #ffffff;
      color: #6F6F6F;
    }
  }
}

/*Galeria de imagenes*/

.gallery {
  background-image: url("/assets/img/barber-shop-bg.png");
  padding-top: 6rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 0 1.5rem;

    @media screen and (min-width: 768px){
      grid-template-columns: repeat(4, 1fr);

    }
  }

  &__image {
    &:hover {
      filter: brightness(1.2);
    }
  }

}

/*Contacto*/

.contacto {
  background-image: url("/assets/img/barber-shop-bg.png");
  padding-top: 6rem;

  &__heading {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    padding-bottom: 6rem;

    @media screen and (min-width: 768px){
      font-size: 3.6rem;
      letter-spacing: 1.2rem;
    }
  }

  &__grid {
    background-image: url("/assets/img/bg-map.png");
    background-size: 50%, cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr;
    padding-bottom: 8rem;


    @media screen and (min-width: 768px){
      background-size: 50%, cover;
      grid-template-columns: 24% 30% 47%;

    }
  }

  &__informacion {
    order: 2;
    padding: 0 5rem;
    p{
      color: #ffffff;
      font-size: 2rem;
      font-weight: 300;
      padding-left: 6rem;
      span {
        display: block;
        color: #C0C0C0;
      }
    }
  }

  &__direccion {
    position: relative;
    &::before {
      content: '';
      width: 4rem;
      height: 4rem;
      display: block;
      background-image: url("/assets/img/location_on.png");
      background-repeat: no-repeat;
      position: absolute;
      left: -5px;
      top: -12px;
    }
  }

  &__color {
    margin-top: .7rem;
  }

  &__telefono {
    position: relative;
    padding-top: 5rem;
    &::before {
      content: '';
      width: 4rem;
      height: 4rem;
      display: block;
      background-image: url("/assets/img/call.png");
      background-repeat: no-repeat;
      position: absolute;
      left: -5px;
      bottom: -8px;
    }
  }

  &__mail {
    position: relative;
    padding-top: 9rem;
    &::before {
      content: '';
      width: 4rem;
      height: 4rem;
      display: block;
      background-image: url("/assets/img/mail.png");
      background-repeat: no-repeat;
      position: absolute;
      left: -5px;
      bottom: -10px;
    }
  }

  li {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 36rem;

    @media screen and (min-width: 768px){
      width: 80rem;


    }

    &::after {
      content: '';
      width: 27rem;
      border: 1px solid #D9D9D9;
      position: absolute;
      bottom: 8px;
      left: 49px;
    }

    &:nth-child(7):after {
      content: none;
    }

    p {
      color: #ffffff;
      font-size: 2rem;
      font-weight: 300;
    }
  }

  &__mapa {
    order: 3;
    padding: 3rem 1rem 0 1rem;
  }
}

/*Mapa y marcador*/


.maps {
  width: 33.5rem;
  height: 47rem;
  border-radius: 10px;

  @media screen and (min-width: 768px){
    width: 57rem;

  }
}

/*Footer*/

.footer {
  background-image: url("/assets/img/footer.png");
  min-height: 42rem;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3.5rem;

  &__container {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 5rem;

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      padding-top: 5rem;
    }
  }

  &__monarca {
    padding-bottom: 4rem;
    @media screen and (min-width: 768px){
      padding-bottom: 0;

    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 4rem;
  }

  &__fb {
    background-image: url("/assets/img/icono-fb.png");
    display: inline-block;
    width: 6rem;
    height: 6rem;
    background-repeat: no-repeat;
    transition: background-image .5s ease;

    &:hover {
      background-image: url("/assets/img/icono-fb-hover.png");
    }
  }

  &__ig {
    background-image: url("/assets/img/icono-ig.png");
    display: inline-block;
    width: 6rem;
    height: 6rem;
    background-repeat: no-repeat;
    transition: background-image .5s ease;


    &:hover {
      background-image: url("/assets/img/icono-ig-hover.png");
    }
  }

  &__wsp {
    background-image: url("/assets/img/icono-wsp.png");
    display: inline-block;
    width: 6rem;
    height: 6rem;
    background-repeat: no-repeat;
    transition: background-image .5s ease;

    &:hover {
      background-image: url("/assets/img/icono-wsp-hover.png");
    }
  }


}
